body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling on the body */
}

#canvas-container {
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling on the canvas container */
}

#whiteboard {
    border: 1px solid black;
    cursor: crosshair;
    /* Make the canvas expandable */
    width: 2000px; 
    height: 2000px; 
}

#login-screen {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whiteboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Take up full viewport height */
}

#toolbar {
    padding: 10px;
    background-color: #f0f0f0;
}

input[type="password"], 
input[type="text"], /* Add styling for the nickname input */
input[type="color"], 
input[type="range"], 
button {
    margin: 5px;
}